.propos {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  height: 100%;
}
.about-container {
  display: flex;
  order: 1;
  flex-direction: column;
  flex: 0 0 50%;
  max-width: 50%;
}
.about-img {
  order: 2;
  margin: 20px 0;
}
.about-img > img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border-style: none;
}

.sub-container {
  padding: 0 0 30px 5px;
}

.icon {
  float: left;
  margin: 10px;
  display: flex;
  flex-direction: column;
  height: 64px;
  width: 64px;
  border: 2px solid #007bff;
  border-radius: 50px;
  justify-content: center;
  align-items: center;
}
.icon > i {
  color: #007bff;
  font-size: 24px;
}
.about-text > p {
  margin-left: 80px;
  line-height: 24px;
  font-size: 14px;
}

.sub-container:hover .icon {
  background-color: #007bff;
}
.sub-container:hover .icon > i {
  color: #fff;
}
@media only screen and (max-width: 830px) {
  .propos {
    flex-direction: column;
  }
  .about-img {
    order: 1;
    max-width: 100%;
    height: 35%;
  }
  .about-container {
    order: 2;
    max-width: 100%;
    height: 60%;
  }
  .sub-container {
    padding: 0 0 10px 0;
  }
}
